/* 
  bg - background
  fg - foreground
  br - border
*/

@import "~/.cache/wal/rofi.rasi"

* {
  main-bg:        @background;
  main-fg:        @foreground;
  main-br:        @selected-normal-background;
  input-bg:       @selected-normal-background;
  select-bg:      @selected-normal-background;
  select-fg:      @selected-normal-foreground;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

