@import url('../../.cache/wal/colors-waybar.css');

/* Additional theme variables */
@define-color mpris-album-art-overlay alpha(@background, 0.55);
@define-color mpris-button-hover alpha(@background, 0.50);
@define-color text @color15;
@define-color bg alpha(@background, .5);
@define-color bg-hover alpha(@background, .8);
@define-color mycolor @color9;
@define-color border-color alpha(@mycolor, 0.15);

/* ------------------------------------------------------------------------- */
/* Animations */
/* ------------------------------------------------------------------------- */
@keyframes fadeIn {
    0% {
        padding-left: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    100% {
        padding: 0px;
        margin: 0px;
    }
}

* {
    outline: none;
}

/* ------------------------------------------------------------------------- */
/* Floating notifications                                                   */
/* ------------------------------------------------------------------------- */
.floating-notifications.background .notification-row .notification-background {
    box-shadow: 0 0 8px 0 alpha(@color0, 0.3), inset 0 0 0 1px alpha(@color15, 0.1);
    border-radius: 12.6px;
    margin: 18px;
    background-color: alpha(@background, 0.9);
    color: @text;
    padding: 0;
    border: 1px solid alpha(@color15, 0.1);
}



.floating-notifications.background .notification-row .notification-background .notification {
    padding: 7px;
    border-radius: 12.6px;
    background-color: transparent;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 alpha(@color1, 0.5);
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    margin: 7px;
    border-radius: 12.6px;
    background-color: transparent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
    color: @text;
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
    color: alpha(@text, 0.7);
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
    color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3.4em;
    border-radius: 12.6px;
    background-color: transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius: 7px;
    color: @text;
    background-color: alpha(@color8, 0.5);
    box-shadow: inset 0 0 0 1px alpha(@color15, 0.1);
    margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    box-shadow: inset 0 0 0 1px alpha(@color15, 0.2);
    background-color: alpha(@color8, 0.6);
    color: @text;
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    box-shadow: inset 0 0 0 1px alpha(@color15, 0.2);
    background-color: alpha(@color6, 0.6);
    color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: @background;
    background-color: alpha(@color1, 0.8);
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background-color: alpha(@color1, 0.9);
    color: @background;
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background-color: alpha(@color1, 0.9);
    color: @background;
    border-radius: 12.6px;
}

/* ------------------------------------------------------------------------- */
/* Control-centre                                                            */
/* ------------------------------------------------------------------------- */
.control-center {
    background: @bg;
    color: @text;
    border-radius: 0px 10px 10px 0px;
    border: none;
    box-shadow: 1px 1px 5px alpha(@background, 0.65);
}

.control-center .notification-row .notification-background .notification {
    margin-top: 0.150rem;
    background: alpha(@mycolor,.3);
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}


.widget-title {
    padding: unset;
    margin: unset;
    color: @text;
    padding-left: 20px;
    padding-top: 20px;
}

.widget-title > button {
    padding: unset;
    margin: unset;
    font-size: initial;
    color: @text;
    text-shadow: none;
    background: alpha(@color3, 0.3);
    border: none;
    box-shadow: none;
    border-radius: 12px;
    padding: 0px 10px;
    margin-right: 20px;
    margin-top: 3px;
    transition: all .7s ease;
}

.widget-title > button:hover {
    border: none;
    background: @bg-hover;
    transition: all .7s ease;
    box-shadow: 0px 0px 5px alpha(@background, 0.65);
}

/* ------------------------------------------------------------------------- */
/* Widgets                                                                   */
/* ------------------------------------------------------------------------- */
.widget-label {
    margin: 8px;
}

.widget-label > label {
    font-size: 1.1rem;
}

/* ── MPRIS ─────────────────────────────────────────────────────────────── */
.widget-mpris {}

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 1px 1px 5px alpha(@background, 0.65);
}

.widget-mpris .widget-mpris-player button:hover {
    all: unset;
    background: @bg-hover;
    text-shadow: none;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease;
}

.widget-mpris .widget-mpris-player button {
    color: @text;
    text-shadow: none;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease;
}

.widget-mpris .widget-mpris-player button:not(.selected) {
    background: transparent;
    border: 2px solid transparent;
}

.widget-mpris .widget-mpris-player button:hover {
    border: 2px solid transparent;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 20px;
    box-shadow: 0px 0px 5px alpha(@background, 0.75);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
}

/* ── Buttons grid ──────────────────────────────────────────────────────── */
.widget-buttons-grid {
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin: 10px;
    border-radius: 12px;
    background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
    font-size: 20px;
    color: @color7;
    transition: all .7s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover label {
    font-size: 20px;
    color: @text;
    transition: all .7s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: transparent;
    border-radius: 12px;
    text-shadow: none;
    box-shadow: 0px 0px 8px alpha(@foreground, 0.02);
    transition: all .5s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @color4;
    box-shadow: 0px 0px 2px alpha(@background, 0.2);
    transition: all .5s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @mycolor;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @background;
}

/* ------------------------------------------------------------------------- */
/* Menu bar / top bar                                                        */
/* ------------------------------------------------------------------------- */
.widget-menubar > box > .menu-button-bar > button {
    border: none;
    background: transparent;
}

.topbar-buttons > button {
    border: none;
    background: transparent;
}

/* ------------------------------------------------------------------------- */
/* Sliders (volume, backlight, etc.)                                         */
/* ------------------------------------------------------------------------- */
trough {
    border-radius: 20px;
    background: transparent;
}

trough highlight {
    padding: 5px;
    background: @mycolor;
    border-radius: 20px;
    box-shadow: 0px 0px 5px alpha(@background, 0.5);
    transition: all .7s ease;
}

trough highlight:hover {
    padding: 5px;
    background: @mycolor;
    border-radius: 20px;
    box-shadow: 0px 0px 5px alpha(@background, 1);
    transition: all .7s ease;
}

trough slider {
    background: transparent;
}

trough slider:hover {
    background: transparent;
}

.widget-volume {
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

.widget-backlight {
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

.notification widget:hover{
    background:alpha(@mycolor,.2);
}

