.notification-popup {
    @include window;
    min-width: 25rem;
    background: $surface;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;

    & .notification-close {
        @include hover($surface);
    }

    & .notification-action {
        @include hover($surfaceContainer);
    }
}

.notification-popup-corner-up,
.notification-popup-corner-down {
    color:$surface;
}

.notification-popup-dismiss {
    all: unset;
    background: transparent;
}

.notification-popup-box {
    background: $surface;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}
