.osd-window {
    * {
        background: unset;
    }
    background: unset;

    .osd-corner-up,
    .osd-corner-down {
        color: $surface;
    }
}

.osd-dismiss {
    all: unset;
    background: transparent;
}

.osd-box {
    background: $surface;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.osd-icon-box {
    min-height: 3.5rem;
    min-width: 3rem;
    border-radius: 16px;
    background: darken($primary, 10%);
}

.osd-slider-container {
    min-height: 200px;
}

.osd-scale {
    all: unset;
    min-width: 8px;
    min-height: 200px;
    padding: 4px;
    border-radius: 25px;
    * {
        all: unset;
    }
}

.osd-scale trough {
    background-color: $secondaryContainer;
    border-radius: 1rem;
    min-width: 8px;
    min-height: 200px;
}

.osd-scale trough highlight {
    background: darken($primary, 10%);
    border-radius: 1rem;
}

.osd-scale slider {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
}

.osd-percentage {
    margin-top: 0.5rem;
}
